<main>
        <div class="flex justify-between">
            <button id="action">Action</button>
            <button id="adventure">Adventure</button>
            <button id="horror">Horror</button>
            <button id="puzzle">Puzzle</button>
            <button id="mmo">MMO</button>
            <button id="rpg">RPG</button>
            <button id="survival">Survival</button>
        </div>
        <div class="search">
            <input type="text" placeholder="Search...">
        </div>
        <div class="post">
            <button id="create-post">Create Post</button>
            {{>page-details}}
        </div>
    </main>
</body>
<footer class=" flex justify-center">
    <h2>The Creators</h2>
    
    <a href="https://github.com/Pogga1">Andrew</a>

  
    <a href="https://github.com/hoeferg">Gayle</a>

    
    <a href="https://github.com/joyhalliday">Joy</a>

 
    <a href="https://github.com/ColeS82">Cole</a>

   
    <a href="https://github.com/dorntrevor7">Trevor</a>

</footer>