<main>

    <nav class=" text-3xl sm:text-3xl flex space-x-4 ml-5 mt-10">

        {{#if logged_in}}
        <button id="logout" class="logout hover:text-white">Logout</button>
        <script src="/js/logout.js"></script>
        {{else}}
        <button><a href="/login" id="login" class="logout hover:text-white">Login</a></button>
        {{/if}}
    </nav>



    <div id="genre-bar" class="flex text-3xl justify-around mt-2 border-2 p-4">
        <a href="/genre" <button class="hover:text-white underline" class="action">Action</button> </a>
        <a href="/genre" <button class="hover:text-white underline" class="adventure">Adventure</button></a>
        <a href="/genre" <button class="hover:text-white underline" class="horror">Horror</button></a>
        <a href="/genre" <button class="hover:text-white underline" class="puzzle">Puzzle</button></a>
        <a href="/genre" <button class="hover:text-white underline" class="mmo">MMO</button></a>
        <a href="/genre" <button class="hover:text-white underline" class="rpg">RPG</button></a>
        <a href="/genre" <button class="hover:text-white underline" class="survival">Survival</button></a>
    </div>

    <div class=" my-12 flex justify-center">
        <input id="search-input" type="text" placeholder="Search...">
    </div>
    <div class="post">

{{#each users as |post|}}
    {{> post-details}}
    {{/each}}
    
        {{#if logged_in}}
        <a href="/create-post" id="create-post" class="hover:text-white ml-5">Create Post</a>
        <script src="/js/newPost.js"></script>
        {{else}}
        <a href="/login" class="underline hover:text-white ml-5">Create Post</a>
        {{/if}}

    </div>
</main>
<script src="/js/genres.js"></script>
</body>

<footer class=" flex text-2xl justify-center absolute inset-x-0 bottom-0 mb-2 space-x-4">
    <h2>The Creators:</h2>

    <a href="https://github.com/Pogga1" target="_blank">Andrew</a>


    <a href="https://github.com/hoeferg" target="_blank">Gayle</a>


    <a href="https://github.com/joyhalliday" target="_blank">Joy</a>


    <a href="https://github.com/ColeS82" target="_blank">Cole</a>


    <a href="https://github.com/dorntrevor7" target="_blank">Trevor</a>

</footer>