<section class="card">
    <a href="/post/{{id}}">
        {{#each post as |post|}}
        {{>post-details}}
        <button id="edit-post">Edit Post</button>
        <button id="delete-comment">Delete Comment</button>
        {{/each}}
        </div>
    </a>
</section>