<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@%5E1.0/dist/tailwind.min.css" rel="stylesheet">
    <link href="/css/style.css" rel = 'stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Rajdhani:wght@400;500&display=swap" rel="stylesheet">
    <title>Game Sphere</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Rajdhani:wght@400;500&display=swap"
        rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link href="/css/style.css" rel='stylesheet'>
</head>

<body id="body" class="mx-3">
    
    <header>
        <h1 id="header" class="text-4xl lg:text-6xl flex container mx-auto justify-center mt-10 border-2">Game Sphere</h1>
    </header>


    {{!-- <nav class=" text-xl sm:text-2xl flex space-x-4 justify-end mr-10">
        <a href="/" class="ml-8 underline">Home</a>
        {{#if loggedIn}}

        <button id="logout" class="logout underline hover:text-white">Logout</button>
        {{else}}
        <a href="/login" class="underline hover:text-white">Login</a>
        {{/if}}
        {{#if loggedIn}}
        <script src="/js/logout.js"></script>

        {{/if}}
    </nav> --}}


    {{{body}}}
</html>