{{>page-setup}}
{{#if logged_in}}
<div class="post-card">
    <h2 class="create-post">Create Post</h2>
    <form class="form post-form">
        <div class="form-group">
            <label for="username-post">{{user.username}}</label>
            <input class="form-input" type="text" id="username" />
        </div>
        <div class="form-group">
            <label for="post-title">Title of Post:</label>
            <input class="form-input" type="text" id="title" />
        </div>

        <select name="dropdown">
            <option value="action">Action</option>
            <option value="adventure">Adventure</option>
            <option value="horror">Horror</option>
            <option value="puzzle">Puzzle</option>
            <option value="mmo">MMO</option>
            <option value="rpg">RPG</option>
            <option value="survival">Survival</option>
        </select>

        <div class="form-group">
            <div class="form-group">
                <label for="post-content">Post Content:</label>
                <input class="form-input" type="text" id="content" />
            </div>
            <button class="" type="submit-post">Post It!</button>
        </div>
    </form>
</div>
<div class="">
    <div class="comment-card">
        <h2 class="comment">Create your comment</h2>
        <form class="form comment-form">
            <div class="form-group">
                <label for="comment">Comment:</label>
                <input class="form-input" type="comment_text" id="comment-info" />
            </div>
            <div class="form-group">
                <button class="" type="submit">Submit Comment</button>
            </div>
        </form>
    </div>
</div>

{{else}}
<a href="/login">You must login first to create a post</a>
{{/if}}

<script src="./js/newPost.js"></script>
<script src="./js/editPost.js"></script>
<script src="./js/comment.js"></script>