{{>page-setup}}

{{#if logged_in}}
<script src="./js/newPost.js"></script>
<script src="./js/editPost.js"></script>
<script src="./js/comment.js"></script>
{{else}}
<h2>Please log in first!</h2>
{{/if }}