<div class="ml-50 mt-40 flex grid grid-cols-5 container mx-auto">
    <div class="login-form col-span-2">
        <h2 class="page-title">Login</h2>
        <form id="login-form" class="mt-5">
            <div class="form-group">
                <label for="username">username:</label>
                <input class="username-input form-input" type="text" id="username-login" />
            </div>
            <div class="form-group mt-5">
                <label for="password-login">Password:</label>
                <input class="form-input" type="password" id="password-login" />
            </div>
            <div class="form-group mt-3">
                <button class="" type="submit">login</button>
            </div>
        </form>
    </div>
    <div></div>
    <div class="signup-form col-span-2">
        <h2 class="page-title">Signup</h2>
        <form id="signup-form" class="mt-5">
            <div class="form-group">
                <label for="username-signup">Username:</label>
                <input class="form-input" type="text" id="username-signup"/>

            </div>

            <div class="form-group mt-5">
                <label for="password-signup">Password:</label>
                <input class="form-input" type="password" id="password-signup" />
            </div>
            <div class="form-group">
                <button class="mt-3" type="submit">signup</button>
            </div>
        </form>
    </div>
</div>
<script src="./js/login.js"></script>
<script src="./js/signUp.js"></script>