{{#if logged_in}} 
{{>page-setup}}
{{else}}
<a href="/login">You must login first to view the post</a>
{{/if}}

<script src="./js/newPost.js"></script>
<script src="./js/editPost.js"></script>
<script src="./js/comment.js"></script>