#body {
  background-image: url("./images/842353-full-hd-background-images-1920x1080-for-windows-7.jpg");
  color: #b2f5ea;
  font-family: "Montserrat Alternates", sans-serif;
}

a:hover {
  color: white;
}

.login-form {
  display: flex;
  font-size: 30px;
  color: #b2f5ea;


  padding-top: 10px;
  padding-bottom: 10px;
  background-color: transparent;
  margin-top: 200px;
}
.signup-form {
  display: flex;
  font-size: 30px;
  color: #b2f5ea;

  padding-top: 10px;
  padding-bottom: 10px;
  background-color: transparent;
}
.form-input {
  display: flex;
  background-color: transparent;
  border: solid white 0.1px;
  border-radius: 20px;
}
.button{
    border: solid white 1px;
    border-radius: 10px;
    padding-left: 4px;
    padding-right: 4px;
}
.button:hover {
    background-color: rgb(1, 1, 10);
    color: white;
    transition: 1s;
}
